/*
background-color: rgb(213, 225, 239)
*/
* {
  font-family: 'Outfit', sans-serif;
  text-align: center;
}
body {
  background-color: rgb(213, 225, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section {
  padding: 15px;
  border-radius: 10px;
  background-color: #FFFFFF;
  max-width: 250px;
}
img {
  border-radius: 10px;
  max-width: 100%;
}
article {
  padding: 0 15px;
}
p {
  font-size: 15px;
  color:lightslategray;
}
footer {
  height: 20px;
  position:fixed; bottom:0; z-index:100000;
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}